{% extends 'base.html' %}

{% block meta %}
<title>Add To Do List!</title>
{% endblock meta %}

{% block content %}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<style>
    body{
        background: rgb(223, 194, 194);
        background: linear-gradient(90deg, rgb(237, 241, 237) 0%, rgb(245, 245, 245) 34%, rgba(107,111,223,1) 75%, rgb(134, 107, 147) 100%);
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }

    form *{
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    h1, h3{
        color: #ffffff;
    }

    input{
        display: block;
        height: 50px;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        margin-left:auto;
        margin-right:auto;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        
    }

    h1{
        margin-top: 40px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 90px;
        font-size: 50px;
        color: #1e1754;
    }

    h3{
        margin-top: auto;
        text-align: center;
        font-weight: 600;
        color: #1e1754;
        
    }

    button{
        font-family: 'Poppins',sans-serif;
        margin-top:50px;
        margin-bottom: 10px; 
        background-color: #ffffff;
        border: 1px solid rgb(100, 27, 92);
        padding: 15px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        width: 50%;
        color: #1e1754;
        text-align: center;
    }

    .submit:hover {
    box-shadow: 0 0.5em 0.3em -0.5em var(--hover);
    transform: translateY(-0.20em);
    background-color: #ffffff;
    }

</style>

<div class = "create_task">
    <form method="POST" >  
        {% csrf_token %}
                <h1>Add Your To Do List!</h1>  
        
                <h3>To Do</h3>
                <input type="text" id="title" name="title">
                <p></p>

                <h3>Description</h3>
                <input type="text" id="description" name="description">
                <p></p>

            
            <button type="submit" class="submit">Tambahkan To Do List!</button>
            <button type="submit" class="submit"> Kembali <onclick="history.back()"/>

        </form>
</div>  

{% endblock content %}