{% extends 'base.html' %}

{% block content %}

<h1>PBP Tugas 3</h1>
<h3><strong>Name</strong> : Shafa Najwa Nathania</h3>
<h3><strong>NPM</strong> : 2106634414</h3>

<table border=1>
  <tr>
    <th>Title</th>
    <th>Watched or Not</th>
    <th>Release Date</th>
    <th>Rating</th>
    <th>Review</th>
  </tr>
  {% for item in data %}
  <tr>
    <td>{{ item.title }}</td>
    <td>{{ item.watched }}</td>
    <td>{{ item.release_date }}</td>
    <td>{{ item.rating }}</td>
    <td>{{ item.review }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}